<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>ASP.NET CORE | 4-RESTAPI</title>

</head>
<body>
    <h2>4-RESTAPI</h2>
    
    <a href="api/users">Elenco utenti</a><br />
    <a href="api/users/12">Dettaglio utente 12</a><br />
    <a href="api/users/1234567">Not found</a><br />
</body>
</html>
