<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>AspNetCore.DemoWeb3</title>

</head>
<body>
    <h2>3-QUERYSTRING</h2>
    
    <a href="add?a=12&b=123">ADD 12+123</a><br />
    <a href="addJson?a=42&b=55">ADD JSON 42+55</a><br />
    <a href="addJson?a=12&b=zz">ADD JSON 12+zz</a><br />
</body>
</html>
